
// colors ---------------------------------------
$cleBlue: #003263;
$cleRed: #ce1126;

$lightText: #efefef;
$darkText: #27272a;
$secondaryText: #A1A1AA;

$pageBg: #FAFAFA;
$grayBg: #E4E4E7;

$black: #000;
$white: #fff;